.content__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 160px;
  color: #fff;
  font-size: 72px;
  font-weight: 500;
  line-height: 1.17em;
  text-shadow: 10px 5px 5px rgba(44, 227, 160, 0.449);
}
