.footer__link {
  text-decoration: none;
  color: rgb(55, 54, 54);
  transition: 0.4s ease-in-out 0.1s;
}

.footer__link:hover {
  opacity: 0.8;
  box-shadow: 10px 10px 5px rgba(55, 110, 90, 0.449);
}
